<div role="document">
    <div>
        <form class="form-horizontal" id="edit-form"  [formGroup]="EditemployeeForm"   >
        
            <div class="modal-header">
                <h4 class="modal-title" id="add-modal-label">Update Password </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span
                        aria-hidden="true">&times;</span></button>
               
            </div>
            <div class="modal-body" style="height: 50vh;overflow: auto;" >
                <div class="container-fluid">
                    <h2> Update Password Data {{optype}} </h2>
                   
                    <div class="form-group">
                       
                        <label>User Name </label>
                        <input  
                            [class.is-invalid]="EditemployeeForm.get('UserName')?.invalid && EditemployeeForm.get('FirstName')?.touched"
                            formControlName="UserName" type="text" class="form-control">
                        <input formControlName="ID" type="hidden" class="form-control" >
                        <small
                            [class.d-none]="EditemployeeForm.get('UserName')?.valid || EditemployeeForm.get('UserName')?.untouched"
                            class="text-danger">UserName Is Required</small>
                            <small class="text-danger" *ngIf="this.UserIdMissmatchError">
                               user Name Is not Correct
                            </small>
                    </div>
                    <div class="form-group">
                        <label>Old Password  </label>
                        <input  
                            [class.is-invalid]="EditemployeeForm.get('Opwd')?.invalid && EditemployeeForm.get('Opwd')?.touched"
                            formControlName="Opwd" type="password" class="form-control">
                            <small
                            [class.d-none]="EditemployeeForm.get('Opwd')?.valid || EditemployeeForm.get('Opwd')?.untouched"
                            class="text-danger">Old Password Is Required</small>
                            <small class="text-danger" *ngIf="this.OldPasswordMissmatchError">
                                Old password is not correct 
            </small>
                    </div>

                    <div class="form-group">
                        <label>New Password  </label>
                        <input  
                            [class.is-invalid]="EditemployeeForm.get('Pwd')?.invalid && EditemployeeForm.get('Pwd')?.touched"
                            formControlName="Pwd" type="password" class="form-control">
                            <small
                            [class.d-none]="EditemployeeForm.get('Pwd')?.valid || EditemployeeForm.get('Pwd')?.untouched"
                            class="text-danger"> Password Should Be 6 Character long</small>
                                    

                   
                    </div>

                    <div class="form-group">
                        <label>Retype Password  </label>
                        <input  
                            [class.is-invalid]="EditemployeeForm.get('Rpwd')?.invalid && EditemployeeForm.get('Rpwd')?.touched"
                            formControlName="Rpwd" type="password" class="form-control">
                            <small
                            [class.d-none]="EditemployeeForm.get('Rpwd')?.valid || EditemployeeForm.get('Rpwd')?.untouched"
                            class="text-danger">Please Retype Password </small>
                            <small class="text-danger" *ngIf="this.PasswordMissmatchError">
                                New Password Not matching with Retype Password
                            </small>
                   
                    </div>


               
                  

                   
                  
                   </div>
                                      
                    
                </div>

                <!--<div>{{EditemployeeForm.value | json}}</div>-->
                <!--<hr />-->

           
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Close</button>
                <button type="submit" [disabled]="EditemployeeForm.invalid" class="btn btn-primary" (click)="onEditPostFormSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>

