<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-user"></i>{{" " +title}}</h1>
        <p>All{{" " +title + " "}}Listing </p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a routerLink='/dashboard' routerLinkActive="active"><i
              class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a routerLink="/employee" routerLinkActive="active">{{title}}</a></li>
  
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <!-- <mat-form-field>
            search :: <input (keyup)="applyfilter($any($event.target).value)" matInput placeholder="Filter">
           </mat-form-field> -->
          <ul class="app-breadcrumb breadcrumb" style="float:right;">
            <li class="breadcrumb-item">
              <span (click)="addNewPost()" mat-raised-button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i>Add
                New Post</span>
  
            </li>
          </ul>
          <hr style="clear:both;">
          <div class="tile-body">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <!-- Checkbox Column -->
              <!-- <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container> -->
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
              <!-- Position Column -->
              <ng-container matColumnDef="UniqId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.UniqId}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="FirstName" style="width: 30%;">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="LastName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> LastName </th>
                <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
              </ng-container>
  
  
  
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <span class="btn btn-primary btn-sm" (click)="editPost(element.CardHolderid)">
                    <i class="fa fa-pencil"></i></span>
                  <span class="btn btn-danger btn-sm" (click)="deletePost(element.CardHolderid, element.FirstName)">
                    <i class="fa fa-trash"></i></span>
                  <!--   <button class="btn btn-primary" (click)="openEdit(mymodal,element)"  > Edit </button>||
                <button class="btn btn-primary" (click)="openDelete(mymodal,element)"  > Delete </button> 
               <button (click)="openDialog('Update',element)">Edit</a> | 
                <a (click)="openDialog('Delete',element)">Delete</a> -->
  
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="logrowdata(row)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10,5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  
          </div>
        </div>
      </div>
  
    </div>
  
  
  </main>